/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss";
@source "../css";
@source "../js";
@source "../../lib/demo_web";

/* This file is for your main application CSS */
