/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss";
@source "../css";
@source "../js";
@source "../../lib/demo_web";

@import "react-day-picker/style.css" layer(components);

@theme {
  --font-sans: Inter, sans-serif;
  --font-sans--font-feature-settings: 'cv11';
}

/* This file is for your main application CSS */
